Explicitly identify which peer uses which kind of stream ID

From the mailing list:

> >    streams with PUSH_PROMISE and also lifts some of the restrictions of
> >    RFC 7540 [RFC7540] Section 8: specifically those sections that only
> >    allow servers to send PUSH_PROMISE frames, and only allow clients to
> >    receive them.
> > 
> >    If the client attempts to send a PUSH_PROMISE frame on a stream that
> >    was opened by the client (by sending a HEADERS frame), the server
> >    MUST treat this event as a connection error ([RFC7540] Section 5.4.1)
> >    of type PROTOCOL_ERROR.
> > 
> > 2.6.  Other Extensions
> > 
> >    When this extension is deployed with other extensions to HTTP/2, the
> >    behaviour of this extension does not change.  All other extensions
> >    that refer to 'client' or 'server' SHOULD be treated as though those
> >    terms apply on a per-stream basis.
> > 
> >    If other extensions apply 'server' or 'client' to the whole
> >    connection (e.g.  for settings in SETTINGS frames, which are sent on
> >    stream 0), then both peers SHOULD be considered clients and both
> >    peers should be considered servers.
> 
> Ok i worry about this wording because there are a few things in the HTTP2
> spec that are mant to be done by a client or server merely to coordinate,
> like numbering the streams even and odd. Which number would a peer pick,
> if they're considered the same? This seems like a spec bug to me, as I 
> think it is unclear how to pick stream ids now. (maybe i'm missing 
> something). I suspect there may be other such ambiguities.


Resolved in draft-02.
